<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-6" *ngIf="menuData">
          <a routerLink="/child2" class="btn btn-sm btn-warning">back</a>
            <img src="{{menuData[0].foodImg}}" class="img-fluid">
            <div class="text-center">
            <h1 >{{menuData[0].foodName}}</h1>
            <p>{{menuData[0].fooddetails  }}</p>
            <p>{{menuData[0].foodprice |currency  }}</p>
        </div>
        </div>
    



<div class="col-lg-6">
  <h1 class="mt-5">ENTER YOUR DETAILS</h1>
  <form>
    <input type="text" class="form-control" placeholder="enter your full name"><br>
    <input type="text" class="form-control" placeholder="enter your full name"><br>
    <textarea class="form-control" placeholder="enter your address"></textarea><br>
    <button class="btn btn-md btn-warning">Place Order</button>

  </form>
</div>
</div>
</div>